html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 400 14px 'Inter', sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    width: 100vw;
    min-height: 100vh;
}

body {
  background-color: #444;
  color: #aaa;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  border: 1px solid white;
  text-align: center;
  margin: 0 0 3px;
  max-width: 10em;
  background-color: #aaa;
}

li:hover {
  background-color: #444;
}

a:hover {
  color: #fff;
}

li {
  display: flex;
}

li a {
  flex: 1;
  width: 100%;
  height: 100%;
}

td {
  vertical-align: top;
}

div#root {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 20px;
}

main {
  flex: 1;
}

aside {
  width: 20vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}
